---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-cert-err58-cpp,-cppcoreguidelines-macro-usage'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     none


